@import "colors";

#paginator ul {
    list-style-type: none;
    text-align: center;
    margin: auto;
    width: 100%;
    position: relative;

    @media screen and (min-width: 800px) {
	padding: 0 0 50px 0;
    }
    
    @media screen and (max-width: 800px) {
	padding: 0 0 20px 0;
    }

    span {
	line-height: 50px;
	background-color: white;
	display: inline-block;
	padding: 0 10px;
	width: calc(100% - 20px);
	box-shadow: 0 0 10px black;;
    }

    li {
	position: absolute;
	top: 0;

	&#paginator-prev {
	    left: 0;
	}

	&#paginator-next {
	    right: 0;
	}

	a {
	    display: block;
	    background-color: $green;
	    line-height: 50px;
	    width: 100px;
	    color: white;
	    text-decoration: none;
	    vertical-align: middle;

	    &:hover {
		background-color: $dark-green;
	    }
	}
    }
}
