@import "colors";

#sidebar {
    list-style-type: none;
    vertical-align: top;

    @media screen and (min-width: 800px) {
	display: inline-block;
	width: 200px;
	margin: 0 0 0 20px;
	padding: 50px 0;
    }

    @media screen and (max-width: 800px) {
	width: calc(100% - 40px);
	margin: 0 20px;
	padding: 20px 0;
	display: block;
	white-space: nowrap;
	overflow: scroll;
    }

    li.sidebar-entry {
	box-shadow: 0 0 10px black;
	background-color: white;
	padding: 20px;

	@media screen and (min-width: 800px) {
	    display: block;
	    width: 160px;
	    height: fit-content;
	    margin: 0 0 10px 0;	    
	}

	@media screen and (max-width: 800px) {
	    display: inline-block;
	    width: 200px;
	    height: 200px;
	    margin: 0 10px 10px ;
	}
    }

    #sidebar-userinfo {
	text-align: center;
	
	span {
	    @media screen and (max-width: 800px) {		    
		display: block;
	    }
	}
    }    

    .sidebar-form-wrapper {
	font-family: sans-serif;
	
	h2 {
	    margin: 0;
	    font-size: 18px;	    
	}

	ul {
	    padding-left: 20px;
	    list-style-type: none;

	    li a {
		color: black;
		text-decoration: none;

		&:hover {
		    color: $green;
		}
	    }
	}
    }
}

