@import "colors";

#title {
    background-color: $green;
    color: white;
    text-align: center;

    @media screen and (max-width: 800px) {
	padding: 20px;
	box-shadow: 0 0 10px black;;
    }

    @media screen and (min-width: 800px) {
	padding: 50px;
	box-shadow: none;
    }

    h1 {
	margin: 0;
	display: block;
	font-family: sans-serif;
    }
}
