/// -*- mode:jinja2 -*-

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>{{ title }} -- Chikyuu School</title>
  </head>
  <body>
    <div id="title">
      <h1><a href="/">{{ title }}</a></h1>
    </div>
    <nav>
      <ul>
	<li><a href="/">Index</a></li>
	/// <li><a href="/categories">Categories</a></li>
	# if user
	<li><a href="/drafts">Drafts</a></li>
	# endif
	<li><a href="/search">Search</a></li>
	/// <li><a href="/notifications">Notifications</a></li>
      </ul>
      <ul class="float-right">
	# if not user
	<li><a href="/register">Register</a></li>
	<li><a href="/login">Login</a></li>
	# else
	<li><a href="/new">New Thread</a></li>
	<li><a href="/logout">Logout</a></li>
	# endif
      </ul>
    </nav>
    {% block content %}{% endblock %}
  </body>
</html>
