/// -*- mode:jinja2 -*-

# extends "base.tmpl"

# block content
<div id="container-wrapper">
  <div id="container">
    <div id="thread-list">
      <ul id="threads">
	# for thread_id, thread_title, datetime, author, last_modified, reply_count in cursor	
	<li>
	  <a href="/thread/view/{{ thread_id }}"><h2>{{ thread_title }}</h2></a>
	  <div class="thread-info">
	    <span class="info-before"></span>
	    <span class="info"><p> {{ author }}</p><p> {{ last_modified.strftime("%Y-%m-%d %H:%M") }}</p><p class="reply-info"> {{ reply_count - 1 }}条回复</p></span>
	  </div>
	</li>
	# endfor
      </ul>
      
      # include "paginator.tmpl"
    </div>

    # include "sidebar.tmpl"    
  </div><!-- #container -->
</div><!-- #container-wrapper -->
# endblock
