/// -*- mode:jinja2 -*-

# extends "base.tmpl"

# block content
<div id="container-wrapper">
  <div id="container">
    <div id="thread-list">
      <ul id="threads">
	# for thread_id, thread_title, datetime, author, last_modified, reply_count in cursor	
	<li>
	  <a href="/thread/view/{{ thread_id }}"><h2>{{ thread_title }}</h2></a>
	  <div class="thread-info">
	    <span class="info-before"></span>
	    # if reply_count == 2
	    # set reply_info = "<br>{} Reply".format(reply_count - 1)
	    # elif reply_count == 1
	    # set reply_info = ""
	    # else
	    # set reply_info = "<br>{} Replies".format(reply_count - 1)
	    # endif
	    <span class="info">{{ author }}<br>{{ last_modified.strftime("%b %d %Y %H:%M") }}{{ reply_info }}</span>
	  </div>
	</li>
	# endfor
      </ul>
      
      # include "paginator.tmpl"
    </div>

    # include "sidebar.tmpl"    
  </div><!-- #container -->
</div><!-- #container-wrapper -->
# endblock
