/// -*- mode:jinja2 -*-

# extends "base.tmpl"

# block content

<div id="form-wrapper">
  <form id="login-form" method="POST" action="/{{ type }}">
    <div class="input-group">
      <label>User name</label>
      <input type="text" name="username">
    </div>
    <div class="input-group">
      <label>Password</label>
      <input type="password" name="password">
    </div>
    # if type == "register"
    <div class="input-group">
      <label>Email</label>
      <input type="email" name="email">
    </div>
    # endif
    <input type="hidden" value="{{ referrer }}" name="referrer">
    <input type="submit" value="{{ type.capitalize() }}">
  </form>
</div>

# endblock
