/// -*- mode:jinja2 -*-

# extends "base.tmpl"

# block content

<div id="container-wrapper">
  <div id="container">
    # set floor = namespace(floor = 1 + post_per_page * (page - 1))
    <ul id="post-list">
      # for id, author, author_id, avatar, content, datetime, renderer in posts  
      <li class="post">
	<div class="post-info">
	  <img src="https://www.gravatar.com/avatar/{{ avatar }}?s=40&d=identicon">
	  <span class="color-green">{{ author }}</span><span> on </span><span class="color-green">{{ datetime.strftime("%B %d %Y %H:%M") }}</span>
	  <span class="floor">#{{ floor.floor }}</span>
	  # if user_id == author_id
	  # if floor.floor == 1
	  # set type = "thread"
	  # set target_id = thread_id
	  # else
	  # set type = "post"
	  # set target_id = id
	  # endif
	  <a class="edit" href="/{{ type }}/edit/{{ target_id }}">Edit</a>
	  # endif
	</div>
	<div id="content">
	  {{ render_content(renderer, content) }}
	</div>
      </li>
      # set floor.floor = floor.floor + 1
      # endfor
    </ul>

    # include "sidebar.tmpl"

  </div>
</div>
# endblock
