/// -*- mode:jinja2 -*-

<ul id="sidebar">
  # if user
  <li id="sidebar-userinfo" class="sidebar-entry">
    <div>
      <a href="/userinfo"><img src="https://www.gravatar.com/avatar/{{ avatar }}?s=160&d=identicon"></a>
      <span>{{ user }}</span>
    </div>    
  </li>
  # endif

  <li id="sidebar-categories" class="sidebar-entry">
    <div class="sidebar-form-wrapper">
      <h2>分类</h2>
      <ul>
	# for name, id in categories
	<li><a href="/category/{{ id }}">{{ name }}</a></li>
	# endfor
      </ul>
    </div>
  </li>
  <li id="sidebar-navigation" class="sidebar-entry">
    <div class="sidebar-form-wrapper">
      <h2>导航</h2>
      <ul>
	<li><a href="/">主页</a></li>
	<li><a href="/search">搜索</a></li>
	# if user
	# if admin
	<li><a href="/dashboard">大本营</a></li>
	# endif
	<li><a href="/drafts">草稿</a></li>
	<li><a href="/new">新主题</a></li>
	<li><a href="/logout">注销</a></li>
	# else
	<li><a href="/login">登录</a></li>
	<li><a href="/registration">注册</a></li>
	# endif
      </ul>
    </div>
  </li>
</ul>
