/// -*- mode:jinja2 -*-

<ul id="sidebar">
  # if user
  <li id="sidebar-userinfo" class="sidebar-entry">
    <div>
      <a href="javascript:;"><img src="https://www.gravatar.com/avatar/{{ avatar }}?s=160&d=identicon"></a>
      <span>{{ user }}</span>
    </div>    
  </li>
  # endif

  <li id="sidebar-categories" class="sidebar-entry">
    <h2>Categories</h2>
    <ul>
      # for name, id in categories
      <li><a href="/category/{{ id }}">{{ name }}</a></li>
      # endfor
    </ul>
  </li>	  
</ul>
