/// -*- mode:jinja2 -*-

<ul id="sidebar">
  # if user
  <li id="sidebar-userinfo" class="sidebar-entry">
    <div>
      <a href="/userinfo"><img src="https://www.gravatar.com/avatar/{{ avatar }}?s=160&d=identicon"></a>
      <span>{{ user }}</span>
    </div>    
  </li>
  # endif

  <li id="sidebar-categories" class="sidebar-entry">
    <div class="sidebar-form-wrapper">
      <h2>Categories</h2>
      <ul>
	# for name, id in categories
	<li><a href="/category/{{ id }}">{{ name }}</a></li>
	# endfor
      </ul>
    </div>
  </li>
  <li id="sidebar-navigation" class="sidebar-entry">
    <div class="sidebar-form-wrapper">
      <h2>Navigation</h2>
      <ul>
	<li><a href="/">Index</a></li>
	<li><a href="/drafts">Drafts</a></li>
	<li><a href="/search">Search</a></li>
	# if user
	<li><a href="/new">New Thread</a></li>
	<li><a href="/logout">Logout</a></li>
	# else
	<li><a href="/login">Login</a></li>
	<li><a href="/register">Register</a></li>
	# endif
      </ul>
    </div>
  </li>
</ul>
