nav {
  background-color: #49724a;
  box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.1);
  height: 50px;
  font-family: sans-serif; }
  @media screen and (max-width: 800px) {
    nav {
      display: none; } }
  nav ul {
    margin: 0;
    list-style-type: none;
    padding: 0 10px;
    display: inline-block; }
    nav ul li {
      display: inline-block;
      text-align: center; }
      nav ul li:hover {
        background-color: #0E402D; }
      nav ul li a {
        padding: 0 20px;
        display: block;
        color: white;
        text-decoration: none;
        line-height: 50px;
        vertical-align: middle; }
  nav .float-right {
    float: right; }

#title {
  background-color: #49724a;
  color: white;
  text-align: center; }
  @media screen and (max-width: 800px) {
    #title {
      padding: 20px;
      box-shadow: 0 0 10px black; } }
  @media screen and (min-width: 800px) {
    #title {
      padding: 50px;
      box-shadow: none; } }
  #title h1 {
    margin: 0;
    display: block;
    font-family: sans-serif; }
    #title h1 a {
      color: white;
      text-decoration: none; }

@media screen and (min-width: 1080px) {
  #container-wrapper {
    max-width: 1040px;
    margin: auto; } }
@media screen and (min-width: 800px) and (max-width: 1080px) {
  #container-wrapper {
    margin: 0 50px; } }

#container {
  width: 100%;
  margin: 0; }

#thread-list {
  font-family: sans-serif;
  vertical-align: top;
  display: inline-block; }
  @media screen and (min-width: 800px) {
    #thread-list {
      margin: 0;
      width: calc(100% - 230px); } }
  @media screen and (max-width: 800px) {
    #thread-list {
      margin: 0 20px;
      width: calc(100% - 40px); } }
  #thread-list ul#threads {
    list-style-type: none;
    margin: 0; }
    @media screen and (min-width: 800px) {
      #thread-list ul#threads {
        padding: 50px 0; } }
    @media screen and (max-width: 800px) {
      #thread-list ul#threads {
        padding: 20px 0; } }
    #thread-list ul#threads li {
      display: block;
      background-color: white;
      height: 100px;
      margin-bottom: 10px;
      box-shadow: 0 0 10px black; }
      #thread-list ul#threads li a {
        color: black; }
        #thread-list ul#threads li a h2 {
          vertical-align: middle;
          float: left;
          padding: 0 20px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
          @media screen and (min-width: 800px) {
            #thread-list ul#threads li a h2 {
              margin: 0;
              width: calc(100% - 305px);
              line-height: 100px;
              display: inline-block; } }
          @media screen and (max-width: 800px) {
            #thread-list ul#threads li a h2 {
              margin: 20px 0 0 0;
              width: calc(100% - 40px);
              line-height: normal;
              display: block; } }
        #thread-list ul#threads li a:hover {
          color: #49724a; }
      #thread-list ul#threads li div.thread-info {
        margin: 0;
        display: inline-block;
        float: right;
        padding: 0 20px; }
        @media screen and (min-width: 800px) {
          #thread-list ul#threads li div.thread-info {
            width: 220px;
            text-align: right; } }
        @media screen and (max-width: 800px) {
          #thread-list ul#threads li div.thread-info {
            width: calc(100% - 40px);
            text-align: left; } }
        #thread-list ul#threads li div.thread-info span.info-before {
          display: inline-block;
          vertical-align: middle;
          height: 100px; }
          @media screen and (max-width: 800px) {
            #thread-list ul#threads li div.thread-info span.info-before {
              display: none; } }
        #thread-list ul#threads li div.thread-info span.info {
          display: inline-block;
          vertical-align: middle; }
          @media screen and (min-width: 800px) {
            #thread-list ul#threads li div.thread-info span.info {
              text-align: right; } }
          @media screen and (max-width: 800px) {
            #thread-list ul#threads li div.thread-info span.info {
              text-align: left; } }
          #thread-list ul#threads li div.thread-info span.info p {
            margin: 0; }
            @media screen and (min-width: 800px) {
              #thread-list ul#threads li div.thread-info span.info p {
                display: normal; } }
            @media screen and (max-width: 800px) {
              #thread-list ul#threads li div.thread-info span.info p {
                display: inline; }
                #thread-list ul#threads li div.thread-info span.info p.reply-info {
                  display: none; } }

#post-list {
  display: inline-block;
  list-style-type: none;
  vertical-align: top; }
  @media screen and (min-width: 800px) {
    #post-list {
      margin: 0;
      width: calc(100% - 230px);
      padding: 50px 0; } }
  @media screen and (max-width: 800px) {
    #post-list {
      margin: 0 20px;
      width: calc(100% - 40px);
      padding: 20px 0; } }
  #post-list .post {
    background-color: white;
    box-shadow: 0 0 10px black;
    display: block;
    padding: 20px;
    margin-bottom: 10px; }
    #post-list .post .post-info {
      border-bottom: 1px solid #49724a; }
      #post-list .post .post-info span {
        line-height: 50px;
        vertical-align: baseline; }
      #post-list .post .post-info img {
        vertical-align: baseline; }
      #post-list .post .post-info span.color-green {
        color: #49724a; }
      @media screen and (max-width: 800px) {
        #post-list .post .post-info span.post-info-datetime {
          display: none; } }
      #post-list .post .post-info span.floor {
        float: right;
        width: 50px;
        text-align: center;
        vertical-align: middle;
        display: block;
        background-color: #49724a;
        color: white; }
      #post-list .post .post-info a.edit {
        float: right;
        line-height: 50px;
        text-align: center;
        width: 50px;
        margin-right: 10px;
        background-color: #49724a;
        color: white;
        text-decoration: none;
        font-family: sans-serif; }
        #post-list .post .post-info a.edit:hover {
          background-color: #0E402D; }

#content {
  text-align: justify;
  font-family: serif;
  word-wrap: break-word;
  word-break: break-all;
  hyphens: auto; }
  #content .highlight pre {
    overflow: scroll;
    padding: 20px; }

#sidebar {
  list-style-type: none;
  vertical-align: top; }
  @media screen and (min-width: 800px) {
    #sidebar {
      display: inline-block;
      width: 200px;
      margin: 0 0 0 20px;
      padding: 50px 0; } }
  @media screen and (max-width: 800px) {
    #sidebar {
      width: calc(100% - 40px);
      margin: 0 20px;
      padding: 20px 0;
      display: block;
      white-space: nowrap;
      overflow: scroll; } }
  #sidebar li.sidebar-entry {
    box-shadow: 0 0 10px black;
    background-color: white;
    padding: 20px; }
    @media screen and (min-width: 800px) {
      #sidebar li.sidebar-entry {
        display: block;
        width: 160px;
        height: fit-content;
        margin: 0 0 10px 0; } }
    @media screen and (max-width: 800px) {
      #sidebar li.sidebar-entry {
        display: inline-block;
        width: 200px;
        height: 200px;
        margin: 0 10px 10px; } }
  #sidebar #sidebar-userinfo {
    text-align: center; }
    @media screen and (max-width: 800px) {
      #sidebar #sidebar-userinfo span {
        display: block; } }
  #sidebar .sidebar-form-wrapper {
    font-family: sans-serif; }
    #sidebar .sidebar-form-wrapper h2 {
      margin: 0;
      font-size: 18px; }
    #sidebar .sidebar-form-wrapper ul {
      padding-left: 20px;
      list-style-type: none; }
      #sidebar .sidebar-form-wrapper ul li a {
        color: black;
        text-decoration: none; }
        #sidebar .sidebar-form-wrapper ul li a:hover {
          color: #49724a; }

@media screen and (min-width: 800px) {
  #form-wrapper {
    padding: 50px 0; } }
@media screen and (max-width: 800px) {
  #form-wrapper {
    padding: 20px 0; } }

form {
  background-color: white;
  padding: 50px;
  box-shadow: 0 0 10px black;
  font-family: sans-serif; }
  @media screen and (min-width: 800px) {
    form {
      margin: auto; } }
  @media screen and (max-width: 800px) {
    form {
      margin: 20px; } }
  form span.form-error {
    color: white;
    background-color: #0E402D;
    display: block;
    text-align: center; }
  @media screen and (min-width: 800px) {
    form#login-form {
      max-width: 480px; } }
  @media screen and (max-width: 800px) {
    form#login-form {
      margin: 20px; } }
  @media screen and (min-width: 800px) {
    form#edit-form {
      max-width: 640px; } }
  @media screen and (max-width: 800px) {
    form#edit-form {
      margin: 20px; } }
  form#reply-form {
    margin: 0; }
  form .input-group {
    margin-bottom: 15px; }
    form .input-group input {
      width: calc(100% - 12px);
      border: 1px solid #49724a;
      padding: 2px 5px;
      display: block; }
    form .input-group select {
      width: 100%;
      border: 1px solid #49724a;
      padding: 2px;
      display: block;
      background-color: white; }
    form .input-group textarea {
      width: calc(100% - 6px);
      border: 1px solid #49724a;
      padding: 2px;
      display: block;
      background-color: white; }

#form-wrapper-userinfo {
  display: inline-block; }
  @media screen and (min-width: 800px) {
    #form-wrapper-userinfo {
      width: calc(100% - 230px);
      padding: 50px 0 0 0; } }
  @media screen and (max-width: 800px) {
    #form-wrapper-userinfo {
      width: calc(100% - 40px);
      padding: 20px 0 0 0;
      margin: 0 20px; } }
  #form-wrapper-userinfo #userinfo-form {
    margin: 0;
    display: inline-block;
    width: calc(100% - 100px); }

#paginator ul {
  list-style-type: none;
  text-align: center;
  margin: auto;
  width: 100%;
  position: relative; }
  @media screen and (min-width: 800px) {
    #paginator ul {
      padding: 0 0 50px 0; } }
  @media screen and (max-width: 800px) {
    #paginator ul {
      padding: 0 0 20px 0; } }
  #paginator ul span {
    line-height: 50px;
    background-color: white;
    display: inline-block;
    padding: 0 10px;
    width: calc(100% - 20px);
    box-shadow: 0 0 10px black; }
  #paginator ul li {
    position: absolute;
    top: 0; }
    #paginator ul li#paginator-prev {
      left: 0; }
    #paginator ul li#paginator-next {
      right: 0; }
    #paginator ul li a {
      display: block;
      background-color: #49724a;
      line-height: 50px;
      width: 100px;
      color: white;
      text-decoration: none;
      vertical-align: middle; }
      #paginator ul li a:hover {
        background-color: #0E402D; }

ul#search-result-list {
  list-style-type: none; }
  @media screen and (min-width: 800px) {
    ul#search-result-list {
      display: inline-block;
      width: calc(100% - 230px);
      padding: 50px 0;
      margin: 0; } }
  @media screen and (max-width: 800px) {
    ul#search-result-list {
      width: calc(100% - 40px);
      display: block;
      padding: 0;
      margin: 20px; } }
  ul#search-result-list li {
    display: block;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px black;
    margin-bottom: 10px; }
    ul#search-result-list li #search-form {
      text-align: center;
      box-shadow: none; }
      @media screen and (min-width: 800px) {
        ul#search-result-list li #search-form {
          padding: 0 50px; } }
      @media screen and (max-width: 800px) {
        ul#search-result-list li #search-form {
          padding: 0; } }
      ul#search-result-list li #search-form #search-form-text {
        line-height: 26px;
        display: inline-block;
        vertical-align: middle;
        padding: 1px 5px;
        width: calc(100% - 100px); }
      ul#search-result-list li #search-form #search-form-submit {
        color: white;
        background-color: #49724a;
        border: none;
        display: inline-block;
        line-height: 30px;
        vertical-align: middle; }
        ul#search-result-list li #search-form #search-form-submit:hover {
          background-color: #0E402D; }
    ul#search-result-list li h2 {
      margin: 0; }
      ul#search-result-list li h2 a {
        text-decoration: none;
        font-family: sans-serif;
        color: black; }
        ul#search-result-list li h2 a:hover {
          color: #49724a; }
    ul#search-result-list li p {
      text-align: justify; }
      ul#search-result-list li p span.keyword {
        color: #49724a; }

html {
  background-color: #C5C5C5;
  width: 100%;
  height: 100%; }

body {
  margin: 0;
  width: 100%;
  height: 100%; }
