/// -*- mode:jinja2 -*-

# extends "base.tmpl"
# block content

/// # if admin
/// <a>TID: {{ $tid }}</a>
/// # endif

# set floor = namespace(floor = 1 + post_per_page * (page - 1))
# for id, author, author_id, avatar, content, datetime, renderer in posts
<div class="post" id="post-{{ id }}">
  <div class="info">
    <img src="//www.gravatar.com/avatar/{{ avatar }}?s=60&d=identicon">
    <div class="info-left">
      <span class="author">{{ author }}</span>
    </div>
    <div class="info-right">
      /// % if ($uid and $uid eq $i->{aid}) {
      /// % my $type = ($floor == 1) ? 'thread' : 'post';
      /// % my $oid = ($floor == 1) ? $tid : $i->{pid};
      /// <a href="/<%= $type %>/edit/<%= $oid %>" class="flaticon-gross edit-button"></a>
      /// % }
      <span class="datetime">{{ datetime }}</span>
    </div>
    <div class="floor-wrapper">
      <span>{{ floor.floor }}</span>
    </div>
  </div>
  /// % if ($admin) {
  /// <a>PID: <%= $i->{pid} %></a>
  /// % }
  <div class="content">
    /// <%= Kagerou::Renderer::render($i->{content},renderer => $i->{renderer}) %>
    {{ render_content(renderer, content) }}
  </div>
</div>
# set floor.floor = floor.floor + 1
# endfor

# if page == 1
# set prev = 'javascript:;'
# else 
# set prev = "{}/{}".format(baseurl, page - 1)
# endif

# if page == total_pages
# set next = 'javascript:;'
# else
# set next = "{}/{}".format(baseurl, page + 1)
# endif

# if total_pages > 1
<ul class="pager">
  <li class="entry prev">
    <a href="{{ prev }}"><span>&lt;</span></a>
  </li>
  <span class="page">{{ page }}/{{ total_pages }}</span>
  <li class="entry next">
    <a href="{{ next }}"><span>&gt;</span></a>
  </li>
</ul>
# endif

# if user
<div class="reply-area-wrapper">
  <form class="reply-form" action="/action/reply" method="POST">
    <div class="input-group">
      <label>Renderer:</label>
      <select name="renderer">
	<option value="plain" default>Plain Text</option>
	<option value="markdown">Markdown</option>
      </select>
    </div>
    <div class="input-group">
      <textarea name="content" placeholder="Your reply here" rows="10"></textarea>
    </div>
    <input type="hidden" name="tid" value="<%== $tid %>">
    <input type="submit" value="Reply">
  </form>
</div>
# endif

<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML"></script>
<script>
 MathJax.Hub.Config({
 tex2jax: {
 inlineMath:[ ['$','$'],['\\(','\\)'] ]
 }
 });
</script>

# endblock
